[  
    (id: "0101", title: "Abgrund"),
    (id: "0102", title: "Asphodelus"),
    (id: "0103", title: "Tears of Hope"),
    (id: "0104", title: "Close My Eyes"),
    (id: "0105", title: "Shinnai naru Sekaie"),
    (id: "0201", title: "Far Afield"),
    (id: "0202", title: "Una Atadura"),
    (id: "0203", title: "Saint Twinkle"),
    (id: "0204", title: "Innocence"),
    (id: "0205", title: "Rain"),
    (id: "0206", title: "Phalaenopsis"),
    (id: "0208", title: "Adagietta"),
    (id: "0301", title: "Blind Alley"),
    (id: "0302", title: "Ash"),
    (id: "0303", title: "Halbmond"),
    (id: "0304", title: "Crawler"),
    (id: "0305", title: "Escualo"),
    (id: "0306", title: "Inertia"),
    (id: "0307", title: "Luce di Luna"),
    (id: "0308", title: "Kanon"),
    (id: "0309", title: "Amaranth"),
    (id: "0310", title: "Crossandra"),
    (id: "0311", title: "Die Macht"),
    (id: "0401", title: "One of Episodes"),
    (id: "0402", title: "Blood Stain"),
    (id: "0403", title: "Schranz Shot"),
    (id: "0404", title: "Dot Brain"),
    (id: "0405", title: "Reflections"),
    (id: "0407", title: "Wave & Dream"),
    (id: "0408", title: "Not in Time"),
    (id: "0409", title: "Deepness"),
    (id: "0410", title: "Heavy Strokes"),
    (id: "0411", title: "Stairs"),
    (id: "0412", title: "Plume"),
    (id: "0413", title: "In the Spiral"),
    (id: "0414", title: "The Wind, the Cloud, the Earth"),
    (id: "0415", title: "Cross"),
    (id: "0416", title: "Bless"),
    (id: "0417", title: "Images"),
    (id: "0418", title: "Past"),
    (id: "0419", title: "Shape of the Absurd"),
    (id: "0420", title: "Ascension"),
    (id: "0421", title: "Around Flower"),
    (id: "0501", title: "The G Plot"),
    (id: "0502", title: "Distorted"),
    (id: "0503", title: "Roots"),
    (id: "0504", title: "La Rosa"),
    (id: "0505", title: "Roots / Largo ver"),
    (id: "0506", title: "Repulsion"),
    (id: "0507", title: "Refreblue"),
    (id: "0909", title: "Lira"),
    (id: "0510", title: "Musa"),
]
